
src/build/*
*.sublime-*
*.pyd
*.pyc
*gerbers/*
hardware/*/gerbers
hardware/*/bom
hardware/*/*-cache
hardware/*/*-backups
hardware/*/#auto_saved_files#
hardware/*/_autosave*
hardware/*/*.lck
hardware/*/*_gerbers
hardware/*/*_gerbers.zip
*.kicad*-bak
